<div *ngIf="member; else loading" class="w-full flex items-center justify-center">
    <div [routerLink]="['/member', member.PersonID]" class="transition-all max-w-2xl w-full bg-gray-900 shadow-lg rounded-xl p-6">
        <div class="flex flex-col ">
            <div class="relative h-62 w-full mb-3">
                <img src="{{member.PhotoURL ? member.PhotoURL : member.GenderTypeID == 1 ? 'assets/female.jpg' : 'assets/male.jpg'}}" loading="lazy" (error)="onImageError($event)" alt="member image" class="w-full object-cover rounded-2xl aspect-square">
            </div>
            <div class="flex-auto justify-evenly">
                <div class="flex flex-wrap ">
                    <div class="flex items-center w-full justify-between min-w-0 ">
                        <h2
                            class="text-xl font-semibold mr-auto text-gray-200 truncate">
                            {{member.ParliamentaryName}}</h2>
                        <div
                            class="flex items-center {{member.IsCurrent ? 'bg-green-400' : 'bg-red-500'}} text-white text-xs px-2 py-1 ml-3 rounded-lg">
                            {{member.IsCurrent ? 'Active' : 'Inactive'}}
                        </div>
                    </div>
                    <p class="ml-[2px] text-lg text-gray-200 truncate">{{member.party?.ActualName}}</p>
                </div>
                <div class="flex mt-6 mb-4 text-sm font-medium justify-between items-center">
                        <p class="text-sm text-gray-400 bg-gray-700 rounded-full px-4 py-2 m-0">{{member.GenderTypeID == 1 ? 'FEMALE' : member.GenderTypeID == 2 ? 'MALE': 'UNDISCLOSED'}}</p>
                </div>

                <h4 class="text-white">Websites:</h4>
                <ul *ngFor="let website of member.websites" class="text-blue-300 list-disc ml-9">
                    <li><a class="text-blue-300 text-sm cursor-pointer" [href]="website.WebURL">{{website.WebURL}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <h1>Loading...</h1>
</ng-template>